In [1]:
import pandas as pd
from utils import trimmed_mean,trimmed_std,mad

In [2]:
## read data
data_path = "./data/titanic_data.csv"
titanic_df = pd.read_csv(data_path)

In [3]:
## look at the tail of data frame
titanic_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1722,1305,NaN,3.0,"Spector, Mr. Woolf",male,NaN,0.0,0.0,A.5. 3236,8.0500,NaN,S
1723,1306,NaN,1.0,"Oliva y Ocana, Dona. Fermina",female,39.0,0.0,0.0,PC 17758,108.9000,C105,C
1724,1307,NaN,3.0,"Saether, Mr. Simon Sivertsen",male,38.5,0.0,0.0,SOTON/O.Q. 3101262,7.2500,NaN,S
1725,1308,NaN,3.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S
1726,1309,NaN,3.0,"Peter, Master. Michael J",male,NaN,1.0,1.0,2668,22.3583,NaN,C

In [4]:
## Not robust mean and standard deviation
print("The mean age of passengers is {}".format(titanic_df["Age"].mean()))
print("The std age of passengers is {}".format(titanic_df["Age"].std()))
print("#####################################################################")
print("The mean fare of passengers is {}".format(titanic_df["Fare"].mean()))
print("The std fare of passengers is {}".format(titanic_df["Fare"].std()))

The mean age of passengers is 29.881137667304014
The std age of passengers is 14.413493211271334
#####################################################################
The mean fare of passengers is 33.2954792813456
The std fare of passengers is 51.75866823917414

In [5]:
## For questions of robustness, lets analyse the trimmed mean, median, and MAD
print("The trimmed mean age of passengers is {}".format(trimmed_mean(titanic_df["Age"].values,10)))
print("The median age of passengers is {}".format(titanic_df["Age"].median()))
print("The MAD age of passengers is {}".format(mad(titanic_df["Age"].values)))
print("The trimmed std age of passengers is {}".format(trimmed_std(titanic_df["Age"].values,10)))
print("#####################################################################")
print("The trimmed mean age of passengers is {}".format(trimmed_mean(titanic_df["Fare"].values,10)))
print("The median fare of passengers is {}".format(titanic_df["Fare"].median()))
print("The MAD fare of passengers is {}".format(mad(titanic_df["Fare"].values)))
print("The trimmed std age of passengers is {}".format(trimmed_std(titanic_df["Fare"].values,10)))

The trimmed mean age of passengers is 29.366188769414578
The median age of passengers is 28.0
The MAD age of passengers is 8.0
The trimmed std age of passengers is 9.00325653086125
#####################################################################
The trimmed mean age of passengers is 21.520243361986573
The median fare of passengers is 14.4542
The MAD fare of passengers is 6.9042
The trimmed std age of passengers is 17.087503259717963