In [25]:
import pandas as pd

In [26]:
## read data
data_path = "./data/titanic_data.csv"
titanic_df = pd.read_csv(data_path)

In [28]:
## look at the tail of data frame
titanic_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1722,1305,NaN,3.0,"Spector, Mr. Woolf",male,NaN,0.0,0.0,A.5. 3236,8.0500,NaN,S
1723,1306,NaN,1.0,"Oliva y Ocana, Dona. Fermina",female,39.0,0.0,0.0,PC 17758,108.9000,C105,C
1724,1307,NaN,3.0,"Saether, Mr. Simon Sivertsen",male,38.5,0.0,0.0,SOTON/O.Q. 3101262,7.2500,NaN,S
1725,1308,NaN,3.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S
1726,1309,NaN,3.0,"Peter, Master. Michael J",male,NaN,1.0,1.0,2668,22.3583,NaN,C

In [29]:
## Mean age of the passengers
print("The mean age of passengers is {}".format(titanic_df["Age"].mean()))
print("The mean age of passengers is {}".format(titanic_df["Age"].median()))

The mean age of passengers is 29.881137667304014
The mean age of passengers is 28.0